# Entorno virtual
.venv/
venv/

# Configuración sensible
.env

# Cache de Python
__pycache__/
*.pyc
*.pyo

# Archivos de compilación o temporales
*.log
*.tmp

# Archivos de editor
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de FastAPI/Uvicorn
*.pid

# Carpeta de build (si existiera)
dist/
build/
